/* set default */
html {
    padding: 0;
    margin: 0;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
    line-height: 1.5;
}
body {
    font-family: inherit;
    line-height: inherit;
    width: 100%;
    overflow: auto !important;
    box-sizing: border-box;
}
/* set css header menu */
.user-header{
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;  
    background-color: #fff; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
}
.user-header > * {
    margin: 0;
    padding: 0;
}
.user-header .navbar .nav-logo img {
    margin-right: 1em;
    /* height: 90px !important; */
    min-height: 90px;
    min-width: 90px;
}
.user-header .navbar li{
    list-style: none;
}
.navbar{
    display: flex;
    align-items: center;  
    justify-content: center;
}
.nav-menu {
    display: flex;
    align-items: center;
    margin: 10px;
    flex-grow: 12;
}
.nav-item{
    margin: 0 10px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    color: #3c4043;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    z-index: 1;
}
.user-header .navbar .nav-menu .nav-item .nav-link {
    font-size: 16px;
    font-weight: 400;
    color: #3c4043;
}

/* set css action */
.nav-action {
    display: flex;
}
.user-header .navbar .nav-action .action-register {
    margin-right: .5em;
    border: 1px solid #404080;
    color: #404080;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    font-weight: 500;
}

.MuiGrid-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.user-header .navbar .nav-action .action-login {
    text-transform: none;
    background-color: #404080;
    border-radius: 3px;
    color: #fff;
    padding: 6px 10px 6px 10px;
}
.MuiContainer-root {
    width: 100%; 
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
    
.hamburger .MuiGrid-container {
    align-items: center;
}
.MuiGrid-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.MuiGrid-item {
    margin: 0;
    box-sizing: border-box;
}
.user-header .navbar .nav-menu-mobile {
    display: none;
}

/* set css foooter */
.FooterUser-wrapper {
    background: #ececec;
    padding-top: 48px;
    padding-bottom: 24px;
}
.FooterUser-wrapper .information-wrapper {
    border-bottom: 1px solid #bfbfbf;
}
.MuiGrid-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.MuiGrid-item {
    margin: 0;
    box-sizing: border-box;
}
.FooterUser-wrapper .information-wrapper .information-detail .title-detail {
    margin-bottom: 1.25em;
    color: #3c4043;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
}
.contents {
    display: contents;
}
.FooterUser-wrapper .information-wrapper .information-detail .contents .content {
    margin-bottom: 1.25em;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.FooterUser-wrapper .information-wrapper .information-detail .contents .content img {
    margin-right: 1em;
    width: 24px;
    height: 24px;
}
.FooterUser-wrapper .information-wrapper .information-others .contents .content p {
    color: #888787;
    font-size: 14px;
}
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
}
img {
    border-style: solid;
}
img, video {
    max-width: 100%;
    height: auto;
}
.FooterUser-wrapper .license-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
    grid-gap: 73px;
    gap: 73px;
}
.FooterUser-wrapper .license-wrapper-left {
    color: #888787;
    display: flex;
    align-items: center;
}
.FooterUser-wrapper .license-wrapper-right {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
}
.FooterUser-wrapper .license-wrapper-left span {
    color: #404080;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
.FooterUser-wrapper .license-wrapper .footer-user__nav {
    display: flex;
}
.FooterUser-wrapper .information-wrapper .information-others .title {
    margin-bottom: 1.25em;
    color: var(--clr-primary-black);
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}
.FooterUser-wrapper .license-wrapper .footer-user__nav-item:first-child {
    padding-left: 0;
}
.FooterUser-wrapper .license-wrapper .footer-user__nav-item {
    border-right: 1px solid #bfbfbf;
    padding: 8px;
}
fieldset, ol, ul {
    margin: 0;
    padding: 0;
}
.container-select-lang {
    padding-top: 3px;
}
.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}
.MuiGrid-item {
    margin: 0;
    box-sizing: border-box;
}
.MuiInput-root {
    position: relative;
}
.MuiInputBase-root {
    color: rgba(0, 0, 0, 0.87);
    cursor: text;
    display: inline-flex;
    position: relative;
    font-size: 1rem;
    box-sizing: border-box;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.1876em;
    letter-spacing: 0.00938em;
}
.MuiSelect-icon {
    top: calc(50% - 12px);
    color: rgba(0, 0, 0, 0.54);
    right: 0;
    position: absolute;
    pointer-events: none;
}
.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}
.MuiSelect-select.MuiSelect-select {
    padding-right: 24px;
}
.MuiSelect-selectMenu {
    height: auto;
    overflow: hidden;
    min-height: 1.1876em;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.MuiSelect-select {
    cursor: pointer;
    min-width: 16px;
    user-select: none;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.MuiInputBase-input {
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 1.1876em;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    letter-spacing: inherit;
    animation-duration: 10ms;
    -webkit-tap-highlight-color: transparent;
}
.MuiSelect-nativeInput {
    left: 0;
    width: 100%;
    bottom: 0;
    opacity: 0;
    position: absolute;
    pointer-events: none;
}